.buttonStyle{
	-fx-background-color:#be0026;
	-fx-text-fill:#ffd13d;
	-fx-border-radius:5px!important;
	-fx-padding:15px;
	-fx-font-weight:bold;
}

.buttonStyle:hover{
	-fx-background-color:black;
	/*-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.8),3,0,0,0);*/
}

.alignBottomRight{
	-fx-alignment:bottom-right;
}

.precedent{
	-fx-margin: 5px;
}