.backgroundDarkRed{
	-fx-background-color:rgba(71,16,20,0.9);
}

.textcolorYellowGold{
	-fx-text-fill:#ffd13d;
}

.textAlignRightBottom{
	-fx-alignment:bottom-right;
}

.fontSizeLarge{
	-fx-font-size:16px;
}

.fontBold{
	-fx-font-weight : bold;
}