.backgroundDarkRed{
	-fx-background-color:rgba(71,16,20,0.9);
}

.backgroundLightRed{
	-fx-background-color:#ca0018;
}

.textcolorYellowGold{
	-fx-text-fill:#ffd13d;
}

.textAlignRightBottom{
	-fx-alignment:bottom-right;
}

.fontSizeLarge{
	-fx-font-size:16px;
}

.fontSizeXLarge{
	-fx-font-size:20px;
}
.fontBold{
	-fx-font-weight : bold;
}

#title{
	-fx-background-color:#ca0018;
	-fx-text-fill:#ffd13d;
	-fx-font-size:25px;
	-fx-alignment:center;
}


#buttonsContainer{
	-fx-alignment:center;
	-fx-margin:0;
	-fx-padding:0;
	/*-fx-background-color:rgba(71,16,20,0.9)*/
}

.buttonStyle{
	-fx-background-color:#ca0018;
	-fx-text-fill:#ffd13d;
	-fx-border-radius:5px;
	-fx-padding:15px;
	-fx-font-weight:bold;
}

.buttonStyle:hover{
	-fx-background-color:black;
	/*-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.8),3,0,0,0);*/
}

.scoreButtonStyle{
	-fx-background-color:#ca0018;
	-fx-text-fill:#ffd13d;
	-fx-border-radius:5px;
	-fx-padding:10px;
	-fx-font-weight:bold;
}

.scoreButtonStyle:hover{
	-fx-background-color:black;
}

.scoreHbox{
	-fx-spacing:20;
	-fx-alignment:center;
}